<script>
 new WOW().init();
</script>
<div class="col-md-8 products-right">
        <div class="products-right-grid">
          <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
            <div class="sorting">
              <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                <option value="null">Default sorting</option>
                <option value="null">Sort by popularity</option> 
                <option value="null">Sort by average rating</option>          
                <option value="null">Sort by price</option>               
              </select>
            </div>
            <div class="sorting-left">
              <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                <option value="null">Item on page 9</option>
                <option value="null">Item on page 18</option> 
                <option value="null">Item on page 32</option>         
                <option value="null">All</option>               
              </select>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
            <img src="asset/images/18.jpg" alt=" " class="img-responsive" />
            <div class="products-right-grids-position1">
              <h4>2016 New Collection</h4>
              <p>Temporibus autem quibusdam et aut officiis debitis aut rerum 
                necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae 
                non recusandae.</p>
            </div>
          </div>
        </div>
        <div class="products-right-grids-bottom" >

            <div class="col-md-4 products-right-grids-bottom-grid" ng-repeat="(key,val) in listbook" >
            <!-- add wow class to get animate load page when scroll -->
            <div class="new-collections-grid1 products-right-grid1 animated slideInUp" data-wow-delay=".5s">
              <div class="new-collections-grid1-image">
                <a ui-sref="public.site.product.details" class="product-image"><img data-ng-src="data:image/png;base64,{{val['images']}}" alt=" " class="img-responsive"></a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                  <a ui-sref="public.site.product.details">Quick View</a>
                </div>
                <div class="new-collections-grid1-right products-right-grids-pos-right">
                  <div class="rating">
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/1.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/1.png" alt=" " class="img-responsive">
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <h4><a>{{val['title']}}</a></h4>
              <p>Vel illum qui dolorem.</p>
              <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                <p><i>{{val['price']}}</i> <span class="item_price">{{val['price']}}</span><a class="item_add" href="#">add to cart </a></p>
              </div>
            </div>
            </div>



          <div class="clearfix"> </div>
        </div>
        <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
          <ul class="pagination paging">
          <li>
            <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          </ul>
        </nav>
      </div>

      <script src="assets/js/masonry.pkgd.min.js"></script>

     <!--  <script type="text/javascript">
        $('#masonry').masonry({
          // options...
          itemSelector: '.products-right-grids-bottom-grid',
          columnWidth: 100
        });
      </script> -->